{% macro render_field(field) %}
<form action="" method="POST">

    <dt>{{ field.label }}
    </dt><dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </dd>
{% endmacro %}


{% macro render_input(stake_id, date, FE, FE_new, comment) %}
<p>Pegel Name <input type = "text" name = "stake_id" /></p>
<p>Datum <input type = "text" name = "date" /></p>
<p>FE <input type = "text" name = "FE" /></p>
<p>FE neu <input type = "text" name = "FE_new" /></p>
<p>Kommentar <input type = "text" name = "comment" /></p>
{% endmacro %}

