{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Wilkommen im Jamtal {% endblock %}</h1>
    <h1>Hi {{ current_user.username }}!</h1>
</br>
    <a href="{{ url_for('lastentries') }}">Pegeldaten: letzte Ablesung</a>
</br>
    <a href="{{ url_for('stakes') }}">Pegeldaten: Positionen und Bohrdatum</a>


    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}


    <div style="display: flex; justify-content: center;">
        {{ plot_div|indent(4)|safe }}
    </div>



{% endblock %}