{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Pegel Ablesungen {% endblock %}</h1>
    <h1>Hi {{ current_user.username }}!</h1>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li><h3>{{ message }}</h3></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2><a href="{{ url_for('.new_entries') }}"> Neue Ablesungen eintragen </a></h2>


{% from "_formhelpers.html" import render_field %}

  <dl>
    {#{ render_field(form.select) }#}
    <p>
    {{ render_field(form.search) }}
  </p></dl>
  <p><input type="submit" value="Search">

  </p></form>

    <title>Search Results</title>
    {{ table }}
    {% if table%}
      <a href="{{ url_for('getcsvstakes', stk = stk) }}">Download as csv</a>
    {% endif %}
  {% endblock %}